/*background: #73AD21;*/
    /* border: 5px solid;
    border-image: linear-gradient(
        45deg,
        #aaa 5%,
        #fff 10%,
        #ccc 30%,
        #ddd 50%,
        #ccc 70%,
        #fff 80%,
        #aaa 95%
    );
    background-color: #bdbdbd;
    background: linear-gradient(
        45deg,
        #aaa 5%,
        #fff 10%,
        #ccc 30%,
        #ddd 50%,
        #ccc 70%,
        #fff 80%,
        #aaa 95%
    );
    padding: 0px; 
    height: auto;
    flex: 1;
    
    */